.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

.profile__image::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: center center;
  background-color: #000;
  background-image: url("../../../images/edit-avatar-icon.svg");
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.profile__image:hover::after{
  content: "";
  opacity: 0.8;
  transition: all 0.5s;
  cursor: pointer;
};


@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}

